name: hit_travel
description: "App for Hit Travel"

publish_to: 'none'

environment:
  sdk: ^3.8.1

dependencies:
  video_player: ^2.10.1
  flutter_screenutil: ^5.9.3
  cached_network_image: ^3.4.1
  intl: ^0.20.2
  talker_dio_logger: ^5.1.9
  talker_flutter: ^5.1.9
  dio: ^5.9.0
  get_it: ^9.2.0
  provider: ^6.1.5+1
  font_awesome_flutter: ^10.9.1
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto-Regular.ttf
        - asset: assets/fonts/Roboto-Bold.ttf
          weight: 700
